extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Camera photograph filter comics optical file projected files mirror virgin editing object photo resolution plane screen logo color noise graphics displayed depicted. Christ picture.
        p Camera photograph filter comics optical file projected files mirror virgin editing object photo resolution plane screen logo color noise graphics displayed depicted. Christ picture.Camera photograph filter comics optical file projected files mirror virgin editing object photo resolution plane screen logo color noise graphics displayed depicted. Christ picture.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started
