<% include ./partials/header.ejs %>

<div class="main container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="display-4 m-b-2">About Us</h1>
      <p>Gain inspiration through recent works from around the world.</p>
      <p>Simply save the images you like through your profile and use them to develop your amazing ideas. Please do not use any work found on this site (if it is not yours) for financial gain.</p><a class="btn btn-info-outline btn-lg m-t-1" href="/signup">Get Started</a>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
