<% include ./partials/header.ejs %>

<div class="main container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="display-4 m-b-2">About Us</h1>
      <p>Camera photograph filter comics optical file projected files mirror virgin editing object photo resolution plane screen logo color noise graphics displayed depicted. Christ picture.</p>
      <p>Camera photograph filter comics optical file projected files mirror virgin editing object photo resolution plane screen logo color noise graphics displayed depicted. Christ picture.Camera photograph filter comics optical file projected files mirror virgin editing object photo resolution plane screen logo color noise graphics displayed depicted. Christ picture.</p><a class="btn btn-info-outline btn-lg m-t-1" href="/signup">Get Started</a>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
