extends layout

block content
  .main.container.margintop
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p Camera photograph filter comics optical file projected files mirror virgin editing object photo resolution plane screen logo color noise graphics displayed depicted. Christ picture.

        a.btn.btn-primary(href='#') Get in touch


