<% include ./partials/header.ejs %>

<div class="main container">

  <div class="row text-xs-center">
    <div class="col-md-6 col-md-offset-3 p-t-2"><i class="icn-person material-icons">error</i>
      <p> <%= message %></p>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
