<% include ./partials/header.ejs %>

<div class="main container text-xs-center">
  <h1 class="display-3">Need some inspiration?</h1>
  <a class="btn btn-info-outline btn-lg" href="/signup">Get Started</a>
</div>


<% include ./partials/footer.ejs %>

