<% include ./partials/header.ejs %>

<div>
<div class="main container text-xs-center">
  <div class="readability-styling">
  <h1 class="display-3">Need some inspiration?</h1>
  </div>
  <a class="btn btn-info-outline btn-lg" href="/signup">Get Started</a>
</div>

</div>
<% include ./partials/footer.ejs %>
