extends layout

block content
  .main.container.text-xs-center
    h1.display-3 View &amp; Research Ideas
    p.lead Camera photograph filter comics optical file projected files!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started


